.section-wrapper {
  width: 248px;
  height: 100vh;
  z-index: 0;
  overflow-y: scroll;
  background: linear-gradient(168.44deg, #2e335a 1.62%, #1c1b33 95.72%);
  section {
    z-index: -1;
  }
  .bloc {
    display: block;
    width: 100%;
    height: 0.1mm;
    background: rgba(188, 185, 185, 0.548);
    z-index: -122 !important;
  }
}
::-webkit-scrollbar {
  width: 0px;
  background: none;
}
/* directional buttons */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
/* empty space "below" the progress bar */
::-webkit-scrollbar-track {
  background: none;
}
/* top-most layer of the progress bar not covered by the draggable scrolling element */
::-webkit-scrollbar-track-piece {
  background: none;
}
/* draggable scrolling element that resizes depending on the size of the scrollable element */
::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 99px;
  background-color: rgba(88, 89, 91, 0.2);
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(88, 89, 91, 0.6);
}
/* the (usually) bottom corner of the scrollable element, where two scrollbars might meet */
::-webkit-scrollbar-corner {
  background: none;
}
